.adminContainer{
    margin:100px 50px 50px 50px;
    }
table,
th,
td,
tr {
    padding: 10px;
    border: 1px solid;
    border-collapse: collapse;
}
td {
    height: auto;
    width: auto;
}
td img{
    height:100px;
    width:100px;
}