@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif,Arial;  
    padding:0px;
    margin:0px;  
}

body {
    color: black;
    padding-bottom: 50px;
}


.typewritter h1,
.typewritter h2 {
    border-right: .15em solid transparent;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0;
    margin: 0 auto;
    animation: typing 3s linear,
    animated-cursor 600ms linear infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes animated-cursor {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}


.hero {
    background-image:url(../images/homeBackground.jpeg);
    background-position: bottom center;
    height: 100vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.618);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content p {
    color: dimgrey;
    line-height: 30px;
    letter-spacing: 1.2px;
}